# Refer to ./jenkins/build.sh for tutorial build instructions

sphinx==1.8.2
sphinx-gallery==0.3.1
docutils==0.16
sphinx-copybutton
tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
PyHamcrest
bs4
awscli==1.16.35
flask
spacy==2.3.2
ray[tune]

# PyTorch Theme
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

sphinxcontrib.katex
# to run examples
boto3
pandas
requests
scikit-image
scipy
pillow==8.2.0
wget
gym
gym-super-mario-bros==7.3.0
timm
