# Refer to ./jenkins/build.sh for tutorial build instructions

sphinx==1.8.2
sphinx-gallery==0.3.1
tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
PyHamcrest
bs4
awscli==1.16.35
flask
spacy

# Replace this block with ray[tune] after next PyPI release
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.9.0.dev0-cp36-cp36m-manylinux1_x86_64.whl
tabulate
tensorboardX
pandas

# PyTorch Theme
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

# to run examples
pandas
scikit-image
# pillow >= 4.2 will throw error when trying to write mode RGBA as JPEG,
# this is a workaround to the issue.
pillow==4.1.1
wget
