# Refer to ./jenkins/build.sh for tutorial build instructions

sphinx==5.0.0
sphinx-gallery==0.11.1
sphinx_design
docutils==0.16
sphinx-copybutton
tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
torchdata
functorch>=0.2.1
networkx
PyHamcrest
bs4
awscliv2==2.1.1
flask
spacy==3.4.1
ray[tune]==1.13.0
tensorboard
jinja2==3.0.3
pytorch-lightning
torchx
ax-platform
nbformat>=4.2.0
deep_phonemizer==0.0.17

# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

sphinxcontrib.katex
# to run examples
boto3
pandas
requests
scikit-image
scipy
pillow==9.0.1
wget
gym==0.25.1
gym-super-mario-bros==7.4.0
timm
pygame==2.1.2
