// Call to action links component
.pytorch-call-to-action-links {
  padding-top: 0;
  display: flex;
  
  @media screen and (min-width: 768px) {
    padding-top: 2.5rem;
  }
  
  @media (min-width: 768px) and (max-width: 1239px) {
    padding-top: 0;
  }
  
  @media (min-width: 1200px) and (max-width: 1239px) {
    padding-top: 2.5rem;
  }
  
  #tutorial-type {
    display: none;
  }
  
  .call-to-action-img, .call-to-action-notebook-img {
    height: 1.375rem;
    width: 1.375rem;
    margin-right: 10px;
  }
  
  .call-to-action-notebook-img {
    height: 1rem;
  }
  
  a {
    padding-right: 1.25rem;
    color: $background-dark;
    cursor: pointer;
    
    &:hover {
      color: $pytorch-red;
    }
    
    .call-to-action-desktop-view {
      display: none;
      
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
    
    .call-to-action-mobile-view {
      display: block;
      
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    
    #google-colab-link, #download-notebook-link,
    #github-view-link {
      padding-bottom: 0.625rem;
      border-bottom: 1px solid $background-light;
      padding-right: 2.5rem;
      display: flex;
      align-items: center;
      
      &:hover {
        border-bottom-color: $pytorch-red;
        color: $pytorch-red;
      }
    }
  }
}

