// Components styles
@use 'variables' as *;

// Rating component
.rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.78em;
  padding-top: 3px;
  font-weight: 700;
  white-space: nowrap;
  flex-shrink: 0;

  @media (max-width: 767px) {
    justify-content: flex-end;
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.stars {
  display: inline-flex;
  gap: 3px;
  margin-left: 8px;
}

.star {
  cursor: pointer;
  font-size: 12px;
  color: #E6E6E6;

  &.active {
    color: var(--pst-color-primary);
  }

  &.hover {
    color: var(--pst-color-primary);
  }
}

// Feedback component
.feedback {
  display: flex;
  gap: 0.5rem;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;

  &-send {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    justify-content: center;
    align-items: center;
  }

  &-btn {
    border-radius: 0;
    border: none;
    background-color: var(--pst-color-surface);
    color: var(--pst-color-text-muted);
    font-weight: 400;
    position: relative;
    letter-spacing: 0.25px;
    padding: 8px 32px 8px 12px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    &::after {
      content: '';
      background-image: url("../img/chevron-right-orange.svg");
      width: 16px;
      height: 16px;
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--pst-color-primary);
      transition: width 0.25s ease-in-out;
    }

    &:hover {
      color: var(--pst-color-text-base);

      &::before {
        width: 100%;
      }
    }
  }
}

// Dark mode specific overrides
html[data-theme="dark"] {
  .feedback-btn {
    background-color: var(--pst-color-surface);

    &::after {
      filter: invert(65%) sepia(11%) saturate(206%) hue-rotate(182deg) brightness(89%) contrast(85%);
    }

    &:hover {
      color: var(--pst-color-text-base);
    }
  }
  .star {
    color: var(--pst-color-text-muted);

    &.active,
    &.hover {
      color: var(--pst-color-primary);
    }
  }
}



// Button component
.btn,
a.btn {
  font-weight: 400;
  position: relative;
  letter-spacing: 0.25px;
}

// Article header components
.header-article-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;

  &__start,
  &__end {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.breadcrumbs {
  margin-right: 10px;
  flex: 1;
  min-width: 0;
}

// Footer article item
.footer-article-item {
  border-top: 1px solid var(--pst-color-border);
}

// Navigation arrows
.with-down-orange-arrow {
  padding-right: .5rem;
  position: relative;
}

.with-down-arrow {
  padding-right: .5rem;
  a {
    color: $dark-text;
  }

  &:hover {
    background-repeat: no-repeat;
  }
}

.with-right-arrow {
  margin-left: 12px;
  background-image: url("../img/chevron-right-white.svg");
  background-size: 14px 18px;
  background-position: center right;
  background-repeat: no-repeat;

  &:hover {
    background-repeat: no-repeat;
  }
}

// Cookie banner LF

.osano-cm-dialog {
    background-color: var(--pst-color-background);
    color: var(--pst-color-text-base);
}

.osano-cm-header, .osano-cm-info-dialog-header {
    background: var(--pst-color-background);
}

.osano-cm-info-dialog-header__close {
    color: var(--pst-color-text-base);
    stroke: var(--pst-color-text-base);
}

.osano-cm-info {
    background: var(--pst-color-background);
    color: var(--pst-color-text-base);
}
// view disclosures link
.osano-cm-disclosure__toggle, .osano-cm-expansion-panel__toggle {
    color: var(--pst-color-primary);

    &:hover,
    &:active,
    &:focus {
        color: var(--pst-color-primary);
    }
}

.osano-cm-toggle__input:disabled:checked + .osano-cm-toggle__switch,
.osano-cm-toggle__input:disabled:checked:focus + .osano-cm-toggle__switch,
.osano-cm-toggle__input:disabled:checked:hover + .osano-cm-toggle__switch {
    background-color: var(--pst-color-primary);
    border-color: var(--pst-color-primary);
}

.osano-cm-toggle__input:checked + .osano-cm-toggle__switch,
.osano-cm-toggle__input:checked:focus + .osano-cm-toggle__switch,
.osano-cm-toggle__input:checked:hover + .osano-cm-toggle__switch {
    background-color: var(--pst-color-primary);
    border-color: var(--pst-color-primary);
}

.osano-cm-toggle__input:checked:focus + .osano-cm-toggle__switch::before,
.osano-cm-toggle__input:checked:focus + .osano-cm-toggle__switch::after {
    border-color: var(--pst-color-primary);
}

.osano-cm-button {
    background-color: var(--pst-color-primary);
    border-color: var(--pst-color-secondary-text);
    color: var(--pst-color-secondary-text);

    &:hover,
    &:active,
    &:focus {
        color: var(--pst-color-secondary-text);
        background-color: var(--pst-color-primary);
    }
}

.osano-cm-button:active,
.osano-cm-button:focus {
    background-color: var(--pst-color-secondary);
}

.osano-cm-link {
    color: var(--pst-color-primary);

    &:hover,
    &:active,
    &:focus {
        color: var(--pst-color-primary);
    }
}

.osano-cm-toggle__switch {
    background-color: var(--pst-color-text-muted);
    border-color: var(--pst-color-text-muted);
}

.osano-cm-widget__dot {
    fill: var(--pst-color-text-base);
}

.osano-cm-widget__outline {
    fill: var(--pst-color-background);
    stroke: var(--pst-color-primary);
}

// Cookie banner pytorch

.cookie-banner-wrapper {
  display: none;

  &.is-visible {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: var(--pst-color-background);
    min-height: 100px;
    width: 100%;
    border-top: 3px solid #ededee;
    z-index: 100000;
  }

  .container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    max-width: 1240px;
  }

  .gdpr-notice {
    color: var(--pst-color-text-muted);
    margin-top: 1.5625rem;
    text-align: left;
    max-width: 1440px;

    @media screen and (min-width: 768px) {
      width: 77%;
    }

    @media (min-width: 768px) and (max-width: 1239px) {
      width: inherit;
    }

    .cookie-policy-link {
      color: var(--pst-color-text-muted);
    }
  }

  .close-button {
    appearance: none;
    background: transparent;
    border: 1px solid var(--pst-color-background);
    height: 1.3125rem;
    position: absolute;
    bottom: 42px;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;

    @media screen and (min-width: 768px) {
      right: 20%;
      top: inherit;
    }


    @media (min-width: 768px) and (max-width: 1239px) {
      right: 0;
      top: 0;
    }
  }
}

// Version switcher
.version-switcher {
  &__button {
    margin-bottom: 0 !important;
  }

  &__menu {
    max-height: 300px;
    overflow-y: auto;
  }
}

// Navigation dropdown
.resources-dropdown-menu {
  left: -25px;
  width: 250px;
  display: none;
  position: absolute;
  z-index: 250;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: var(--header-background);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid $light-text;
  top: 40px;
  padding: 20px 0;
}

.resources-dropdown:hover .resources-dropdown-menu {
  display: block;
}

.main-menu ul li.active:hover .resources-dropdown-menu {
  display: block;
}

// right nav

.sidebar-heading {
  padding-top: 14px
}

.prototype-banner {
  background-color: var(--pst-color-surface);
  border-left: 3px solid var(--pst-color-primary);
  color: var(--pst-color-text-base);
  font-size: 0.9em;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  i {
    margin-right: 0.5rem;
  }
}
