@use 'variables' as *;

.prev-next-footer {
  display: none;
}

.table {
  tbody {
    tr {
      &:hover {
        background: var(--pst-color-table-row-hover-bg);
      }
    }
  }
}

dt {
  &:target {
    background-color: transparent;
  }
}

span.highlighted {
  background-color: $pytorch-red;
}

.form-control {
  border: none;
}

// Remove link styling from TOC backref links
h1, h2, h3, h4, h5, h6 {
  .toc-backref {
    color: inherit !important;
    text-decoration: none !important;

    &:hover, &:active, &:visited, &:focus {
      text-decoration: none !important;
      color: inherit !important;
    }
  }
}

.div.math {
  overflow-x: auto;
}

.katex-display {
  width: 100%;
}

.version {
  font-weight: 600;
  text-decoration: none;
  color: var(--pst-color-text-muted);

  &:hover {
    text-decoration: underline;
  }
}

// Hide logo on mobile
.navbar-brand {
  @media (max-width: 767px) {
    display: none;
  }
}

// Make left nav links more readable
nav.bd-links li>a {
  color: var(--pst-color-text-base) !important;
}

// Make right nav links more readable
.toc-entry a.nav-link, .toc-entry a>code {
  color: var(--pst-color-text-base) !important;
}

.bd-sidebar-primary {
  width: 18%;
  padding: 1rem 1rem 1rem;

  @media (max-width: 959.98px) {
    width: 75%;
    top: 30px;
  }
}

.bd-sidebar-secondary {
  padding: 1rem 1rem 1rem;

  @media (max-width: 959.98px) {
    width: 75%;
    top: 30px;
  }
}


html[data-theme="dark"] .highlight {
  background: transparent;
}


h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  scroll-margin-top: 150px !important;
  scroll-padding-top: 150px !important;
}
