/* PyTorch top nav bar */
@use 'variables' as *;

.container-fluid,
.header-container-wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header-holder {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10001;
  background-color: var(--header-background);
  border-bottom: 1px solid #333;

  @media screen and (min-width: 1200px) {
    height: var(--header-height-desktop);
  }
}

@media (min-width: 1200px) {
  .header-container-wrapper {
    max-width: 1140px;
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.header-logo {
  height: 23px;
  width: 93px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: 93px 23px;
  display: block;
  float: left;
  z-index: 10;

  @media screen and (min-width: 959px) {
    background-size: auto 24px;
    position: absolute;
    height: 24px;
    width: 103px;
    float: none;
  }
}

.main-menu-open-button {
  // Replace background-image with FontAwesome icon
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 4px;

  i {
    font-size: 1.5rem;
    color: $muted-text;
  }

  @media screen and (min-width: 960px) {
    display: none;
  }
}

// Add this to make the close button more visible
.main-menu-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  top: -4px;
  cursor: pointer;

  i {
    font-size: 1.5rem;
    color: $light-text;
  }
}


.header-holder .main-menu {
  display: none;

  @media screen and (min-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 290px;
  }

  @media screen and (min-width: 1130px) {
    padding-left: 450px;
  }


  ul {
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 30px;
      position: relative;
      color: $light-text;

      &.active:after {
        content: "•";
        bottom: -24px;
        color: $light-text;
        font-size: 1.375rem;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
      }

      &.active a {
        color: $light-text;
      }

      &.docs-active:after {
        content: "•";
        bottom: -24px;
        color: $pytorch-red;
        font-size: 1.375rem;
        left: -24px;
        position: absolute;
        right: 0;
        text-align: center;
      }

      &:last-of-type {
        margin-right: 0;
        margin-left: 10px;
      }

      a {
        color: $light-text;
        font-size: 15px;
        letter-spacing: 0.8px;
        line-height: 2.125rem;
        text-align: center;
        text-decoration: none;
        padding: 2em 0;
      }
    }
    li.main-menu-item a.with-down-arrow span:after {
      transform-origin: 0 0;
      transition: transform .35s cubic-bezier(.52,.01,.16,1);
      bottom: -3px;
      -webkit-transition: -webkit-transform .3s ease-out, border-color .3s ease-out;
      transition: transform .3s ease-out, border-color .3s ease-out;
      position: absolute;
      display: block;
      bottom: 2px;
      left: 0;
      width: 100%;
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      border-top: 2px solid #ee4c2c;
      content: "";
      padding-bottom: inherit;
    }
    li.main-menu-item:hover a.with-down-arrow span:after {
      backface-visibility: hidden;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}



.mobile-main-menu {
  display: none;

  &.open {
    background-color: $dark-text;
    display: block;
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        a, .resources-mobile-menu-title {
          font-size: 2rem;
          color: $light-text;
          letter-spacing: 0;
          line-height: 4rem;
          text-decoration: none;
        }

        &.active a {
          color: $pytorch-red;
        }
      }
    }
  }

  .resources-mobile-menu-title a:hover {
    color: $light-text;
  }

  .container-fluid {
    align-items: center;
    display: flex;
    height: 68px;
    position: relative;

    &:before, &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}


.mobile-main-menu-header-container {
  position: relative;
}

.mobile-main-menu-links-container {
  display: flex;
  align-items: center;
  padding-left: 2.8125rem;
  height: 90vh;
  margin-top: -25px;
  padding-top: 50%;
  overflow-y: scroll;

  .main-menu {
    height: 100vh;
  }

  ul.resources-mobile-menu-items li {
    padding-left: 15px;

    a {
      font-size: 18px;
      line-height: 34px;
    }
  }
}

.header-holder .main-menu ul li a.nav-dropdown-item:hover,
.header-holder .main-menu ul li a.nav-dropdown-item.active {
  color: $pytorch-red !important;
}

.header-holder .main-menu ul li .no-dropdown a:before {
  transform: translateY(-50%);
  top: 50%;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  box-shadow: none;
  -webkit-transition: opacity .45s cubic-bezier(0.25,1,0.33,1), transform .45s cubic-bezier(0.25,1,0.33,1), border-color .45s cubic-bezier(0.25,1,0.33,1), color .45s cubic-bezier(0.25,1,0.33,1), background-color .45s cubic-bezier(0.25,1,0.33,1), box-shadow .45s cubic-bezier(0.25,1,0.33,1);
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1), transform .45s cubic-bezier(0.25,1,0.33,1), border-color .45s cubic-bezier(0.25,1,0.33,1), color .45s cubic-bezier(0.25,1,0.33,1), background-color .45s cubic-bezier(0.25,1,0.33,1), box-shadow .45s cubic-bezier(0.25,1,0.33,1);
  display: block;
  position: absolute;
  left: -11px;
  padding-bottom: 10px;
  transform: translateY(-7px);
  width: 170%;
  height: 26px;
  content: " ";
  z-index: -1;
  transition: opacity 0.2s;
  transform: translateY(-50%);
  top: 50%;
  background-color: $pytorch-red !important;
  padding: 17px;
}

.header-holder .main-menu ul li .no-dropdown {
  margin-left: 5px;
}