// Responsive styles
@use 'variables' as *;

// Header responsive styles
@media screen and (min-width: 1200px) {
  .header-holder {
    height: var(--header-height-desktop);
  }

  .header-container-wrapper {
    max-width: 1140px;
  }

  .gcse-search-wrapper .fa-magnifying-glass {
    top: 0.7em;
  }
}

@media screen and (min-width: 960px) {
  .main-menu-open-button {
    display: none;
  }
}

// Footer responsive styles
@media screen and (min-width: 768px) {
  .site-footer {
    padding: 5rem 0;

    a:hover {
      color: $pytorch-red;
    }
  }

  .footer-logo-wrapper {
    position: absolute;
    top: 0;
    left: 30px;
  }

  .footer-logo {
    background-size: 29px 36px;
    height: 36px;
    margin-bottom: 0;
    width: 29px;
  }

  .footer-links-wrapper {
    flex-wrap: initial;
    justify-content: flex-end;
  }

  .footer-links-col {
    margin-bottom: 0;
    width: 14%;
    margin-right: 23px;

    &.follow-us-col {
      width: 18%;
      margin-right: 0;
    }
  }

  .docs-tutorials-resources {
    padding-top: 1rem;
    padding-bottom: 3rem;

    h2 {
      margin-bottom: 1.25rem;
    }

    .col-md-4 {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 1.25rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1239px) {
  .footer-links-col {
    width: 18%;
    margin-right: 30px;
  }

  .cookie-banner-wrapper .gdpr-notice {
    width: inherit;
  }

  .cookie-banner-wrapper .close-button {
    right: 0;
    top: 0;
  }
}

// Mobile styles
@media (max-width: 1200px) {
  .bd-header {
    top: var(--header-height) !important;
  }

  .gsc-results-wrapper-overlay {
    top: 50px !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 960px) {
  .bd-header {
    top: var(--header-height) !important;
  }
}

@media (max-width: 959px) {
  .navbar-brand logo {
    display: none;
  }
}

@media (max-width: 767px) {
  article h1, article .h1,
  article h1 a, article .h1 a {
    word-break: break-all;
  }

  .rating {
    justify-content: flex-end;
    white-space: nowrap;
    margin-bottom: 0;
  }
}

.tutorials-callout-container .row > p {
  display: none;
}

@media screen and (max-width: 767px) {
  .tutorials-callout-container .row {
    display: flex;
    flex-direction: column;
  }

  .tutorials-callout-container .col-md-6 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .tutorials-callout-container .row {
    display: flex;
    flex-direction: row;
  }

  .tutorials-callout-container .col-md-6 {
    width: 50%;
  }
}
