// _tutorials.scss
@use "variables" as *;

// Tutorial cards styles
.pytorch-call-to-action-links {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  margin: 0px;

  @media (min-width: 768px) and (max-width: 1239px) {
    padding-top: 0;
  }

  #tutorial-type {
    display: none;
  }

  .call-to-action-img, .call-to-action-notebook-img {
    height: 1.375rem;
    width: 1.375rem;
    margin-right: 10px;
  }

  .call-to-action-notebook-img {
    height: 1rem;
  }

  a {
    color: var(--pst-color-text-base);
    cursor: pointer;
    background-color: var(--pst-color-background);
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.2s ease;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: var(--pst-color-background-light);
      border-bottom: 1px solid $pytorch-red;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $pytorch-red;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $pytorch-red;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
  }

  #google-colab-link a, #download-notebook-link a, #github-view-link a {
    padding-bottom: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: none;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }


    .call-to-action-desktop-view {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .call-to-action-mobile-view {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    #google-colab-link, #download-notebook-link,
    #github-view-link {
      padding-bottom: 0.625rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: none;

      &:hover {
        cursor: pointer
      }
    }
}

#tutorial-cards-container {
  .filter-btn {
    color: var(--pst-color-text-base);
    border: 1px solid var(--pst-color-border);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid var(--pst-color-primary);
      color: $pytorch-red;
    }

    &.selected {
      background-color: var(--pst-color-primary);
      border: 1px solid var(--pst-color-primary);
      color: $light-text;
    }
  }

  .all-tag-selected {
    background-color: #979797;
    color: $light-text;

    &:hover {
      border-color: #979797;
      color: $light-text;
    }
  }

  .pagination {
    .page {
      border: 1px solid #dee2e6;
      padding: 0.5rem 0.75rem;
    }

    .active .page {
      background-color: #dee2e6;
    }
  }

  #tutorial-cards {
    width: 100%;
  }


  .tutorials-nav {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .tutorials-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card.tutorials-card {
    a {
      text-decoration: none;

      @media screen and (min-width: 768px) {
        min-height: 190px;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        min-height: 234px;
      }

      p.card-summary, p.tags {
        color: var(--pst-color-text-base);
        text-decoration: none;
        width: 75%;

        &:hover {
          text-decoration: none;
        }
      }
    }

    border-radius: 0;
    border-color: var(--bs-border-color-translucent);
    height: 98px;
    margin-bottom: 1.875rem;
    overflow: scroll;
    background-color: var(--sg-background-color);
    cursor: pointer;

    @media screen and (min-width: 1240px) {
      height: 200px;
      overflow: inherit;
    }

    @media (min-width: 768px) and (max-width: 1239px) {
      height: 200px;
      overflow: scroll;
    }

    .tutorials-image {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 96px;
      width: 96px;
      opacity: 0.5;

      img {
        height: 100%;
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        height: 100%;
        width: 25%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        height: 100%;
        width: 198px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: $background-dark;
        opacity: .075;
      }
    }

    .card-title-container {
      width: 70%;
      display: inline-flex;

      @media screen and (min-width: 768px) {
        width: 75%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        width: 70%;
      }

      h4 {
        margin-bottom: 1.125rem;
        margin-top: 0;
        font-size: 1.125rem;
        color: var(--pst-color-text-base);

        @media screen and (min-width: 768px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 767px) {
          font-size: 0.8rem;
          margin-bottom: 0.4rem;
        }
      }
    }

    p.card-summary, p.tags {
      font-size: 0.9375rem;
      line-height: 1.5rem;
      margin-bottom: 0;
      color: var(--pst-color-text-base);
      font-weight: 400;
      width: 70%;

      @media screen and (min-width: 768px) {
        width: 75%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        width: 70%;
      }
      @media screen and (max-width: 767px) {
        font-size: 0.6rem;
        line-height: 1rem;
      }
    }

    p.tags {
      margin-top: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }


    a {
      height: 100%;

      @media screen and (min-width: 768px) {
        min-height: 190px;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        min-height: 234px;
      }
    }

    @media screen and (min-width: 768px) {
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $pytorch-red;
        transition: width .250s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:hover {
      border-bottom: none;

      .tutorials-image {
        opacity: unset;
      }
    }
  }

  .tutorial-tags-container {
    width: 75%;

    &.active {
      width: 0;
    }
  }

  .tutorial-filter-menu {
    ul {
      list-style-type: none;
      padding-left: 1.25rem;

      li {
        padding-right: 1.25rem;
        word-break: break-all;

        a {
          color: #979797;

          &:hover {
            color: $pytorch-red;
          }
        }
      }
    }
  }

  .tutorial-filter {
    cursor: pointer;
  }
}


.tutorials-callout-container {
    padding-bottom: 50px;

    .col-md-6 {
      padding-bottom: 10px;
    }

    .text-container {
      padding: 10px 0px 30px 0px;
      padding-bottom: 10px;

      .body-paragraph {
        color: #666666;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.875rem;
      }
    }

    .btn.callout-button {
      font-size: 1.125rem;
      border-radius: 0;
      border: 1px solid var(--pst-color-border);
      background-color: var(--sg-background-color);
      color: var(--pst-color-text-base);
      font-weight: 400;
      position: relative;
      letter-spacing: 0.25px;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $pytorch-red;
          transition: width .250s ease-in-out;
        }

        &:hover {
          border-bottom: none;

          &:after {
            width: 100%;
          }
        }
      }

      a {
        color: inherit;
      }
    }
}

.card-body {
  a {
    text-decoration: none;
  }
}

// Hide generated gallery download link in each section
.sphx-glr-download-link-note.admonition.note {
  display: none;
}

.tutorials-pagination {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;

  @media screen and (max-width: 576px) {
    gap: 3px;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .page-btn {
    color: var(--pst-color-text-base);
    border: 1px solid var(--pst-color-border);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--sg-background-color);
    cursor: pointer;

    @media screen and (max-width: 576px) {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
    }

    &:hover:not([disabled]) {
      border: 1px solid var(--pst-color-primary);
      color: $pytorch-red;
    }

    &.active {
      background-color: var(--pst-color-primary);
      border: 1px solid var(--pst-color-primary);
      color: $light-text;

      &:hover {
        color: $light-text
      }
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
