// Theme colors
$pytorch-red: #de3412;
$pytorch-blue: #F2765D;
$dark-text: #262626;
$light-text: #ffffff;
$muted-text: #6c6c6d;
$border-color: #e2e2e2;
$background-light: #f3f4f7;
$background-dark: #000000;
$pytorch-indigo: #812CE5;
$pytorch-violet: #B932CC;
$pytorch-light-gray: #F6F6F6;


:root {
  --header-height: 45px;
  --header-height-desktop: 45px;
}

// Theme color variables
html[data-theme="light"] {
  --header-background: #262626;
  --pst-color-primary: #{$pytorch-red};
  --pst-color-secondary: #{$pytorch-red};
  --pst-color-inline-code-links: #{$pytorch-red};
  --bs-link-hover-color: #{$pytorch-red};
  --bs-emphasis-color-rgb: #{$pytorch-red};
  --bs-emphasis-color: #{$pytorch-red};
  --bs-btn-focus-box-shadow: #{$pytorch-red};
  --pst-color-accent: transparent !important;
  --pst-color-table-row-hover-bg: #F9BFB4;
  --sg-script-pre: #FBEEF6;

}

html[data-theme="dark"] {
  --header-background: #222832;
  --pst-color-primary: #{$pytorch-blue};
  --pst-color-secondary: #{$pytorch-blue};
  --pst-color-inline-code-links: #{$pytorch-blue};
  --bs-link-hover-color: #{$pytorch-blue};
  --bs-emphasis-color-rgb: #{$pytorch-blue};
  --bs-emphasis-color: #{$pytorch-blue};
  --pst-color-inline-code: #BBBBBB;
  --bs-btn-focus-box-shadow: #{$pytorch-blue};
  --pst-color-accent: transparent !important;
  --pst-color-table-row-hover-bg: #711B09;
  --sg-script-pre: #2e2e22;
}

// 404 page styles
.error-404-container {
  min-height: 70vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.error-404-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-size: 250px;
  line-height: 250px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #444;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.error-404-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  line-height: 64px;
  font-weight: 300;
  margin-bottom: 30px;
  color: var(--pst-color-text-base);
}

.error-404-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
  color: var(--pst-color-text-base);
}

.error-404-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.error-404-button {
  background-color: var(--pst-color-primary);
  border-color: var(--pst-color-primary);
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 400;
  text-decoration: none;
  color: white !important;
}

.error-404-button:hover,
.error-404-button:active,
.error-404-button:visited {
  color: white !important;
}

.error-404-issue-button {
  background-color: #333;
  border-color: #333;
}

@media only screen and (max-width: 690px) {
  .error-404-title {
    font-size: 150px;
    line-height: 150px;
  }

  .error-404-subtitle {
    font-size: 32px;
    line-height: 36px;
  }
}
