# Refer to ./jenkins/build.sh for tutorial build instructions

sphinx==1.8.2
sphinx-gallery==0.3.1
tqdm
numpy
matplotlib
torch
torchvision
torchtext
torchaudio
PyHamcrest
bs4
awscli==1.16.35
flask
spacy
ray[tune]

# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

# to run examples
pandas
scikit-image
pillow==10.2.0
wget

# for codespaces env
pylint
