/* Survey banner .css */

.survey-banner {
  margin-top: 10px;
  background-color: #f3f4f7;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 1px;
}

@media screen and (max-width: 600px) {
  .survey-banner {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: -1px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

/* Left nav for 2nd level nav */

.pytorch-left-menu li.toctree-l2 {
  padding-left: 10px;
}

.pytorch-left-menu li.toctree-l2.current > a, {
   color: #ee4c2c;
}

.pytorch-left-menu li.toctree-l2.current a:link.reference.internal {
   color: #ee4c2c;
}

.pytorch-left-menu li.toctree-l1.current > a:before {
   content: "";
}

/* search radio button*/

input[type="radio"] {
    accent-color: #ee4c2c;
}
