/* sphinx-design styles for cards/tabs
*/

:root {
    --sd-color-info: #ee4c2c;
    --sd-color-primary: #6c6c6d;
    --sd-color-primary-highlight: #f3f4f7;
    --sd-color-card-border-hover: #ee4c2c;
    --sd-color-card-border: #f3f4f7;
    --sd-color-card-background: #fff;
    --sd-color-card-text: inherit;
    --sd-color-card-header: transparent;
    --sd-color-card-footer: transparent;
    --sd-color-tabs-label-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-hover: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-inactive: hsl(0, 0%, 66%);
    --sd-color-tabs-underline-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: rgb(222, 222, 222);
    --sd-color-tabs-underline: rgb(222, 222, 222);
}

.sd-text-info {
    color: #ee4c2c;
}


.sd-card {
    position: relative;
    background-color: #fff;
    opacity: 1.0;
    border-radius: 0px;
    width: 30%;
    border: none;
    padding-bottom: 0px;
}


.sd-card-img {
    opacity: 0.5;
    width: 200px;
    padding: 0px;
}

.sd-card-img:hover {
    opacity: 1.0;
    background-color: #f3f4f7;
}


.sd-card:after {
    display: block;
    opacity: 1;
    content: '';
    border-bottom: solid 1px #ee4c2c;  
    background-color: #fff;
    transform: scaleX(0);  
    transition: transform .250s ease-in-out;
    transform-origin:  0% 50%;
}

.sd-card:hover {
    background-color: #fff;
    opacity: 1;
    border-top: 1px solid #f3f4f7;
    border-left: 1px solid #f3f4f7;
    border-right: 1px solid #f3f4f7;
}

.sd-card:hover:after {
    transform: scaleX(1);
}
