/* Survey banner .css */

.survey-banner {
  margin-top: 10px;
  background-color: #f3f4f7;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 1px;
}

@media screen and (max-width: 600px) {
  .survey-banner {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: -1px;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

/* Left nav for 2nd level nav */

.pytorch-left-menu li.toctree-l2 {
  padding-left: 10px;
}

.pytorch-left-menu li.toctree-l2.current > a, {
   color: #ee4c2c;
}

.pytorch-left-menu li.toctree-l2.current a:link.reference.internal {
   color: #ee4c2c;
}

.pytorch-left-menu li.toctree-l1.current > a:before {
   content: "";
}

/* search radio button*/

input[type="radio"] {
    accent-color: #ee4c2c;
}

.gsst_b {
    display: none;
}

#gsc-i-id1 {
    height: 1.5rem;
    text-indent: 12px !important; 
    font-size: 1rem !important;
    font-family: "FreightSansi";
    background-image: url(../images/search-icon.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 18px 18px !important;
    background-position: 5px 0px !important;
    padding-left: 20px !important;
}

#gsc-i-id1::placeholder {
  font-family: 'FreightSans';
  font-size: 1rem;
  color: #262626;
}

.gsc-control-cse {
   padding: 0 !important;
   border-radius: 0px !important;
   border: none !important;
}

.gsc-overflow-hidden {
    overflow: auto;
}

#___gcse_0 {
    height: 44px !important;
    padding: 0 !important;
}

table.gsc-search-box td.gsc-input {
    padding-right: 0 !important;
}

table.gsc-search-box td {
    height: 44px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.gsc-search-button-v2 {
    display: none;
}

.gs_id50 {
    width: 308px;
}

.gsib_a {
    padding: 0px 8px 4px 9px !important;
}

.gsc-input-box {
    border-radius: 0px !important;
    border: none !important; 
}

form.gsc-search-box {
    margin-bottom 0px;
}

