# --extra-index-url https://download.pytorch.org/whl/cu117/index.html # Use this to run/publish tutorials against the latest binaries during the RC stage. Comment out after the release. Each release verify the correct cuda version.
# Refer to ./jenkins/build.sh for tutorial build instructions.

# Sphinx dependencies
sphinx==7.2.6
sphinx-gallery==0.19.0
sphinx-reredirects==0.1.4
sphinx_design==0.6.1
docutils>=0.18.1,<0.21
sphinx-copybutton==0.5.2
sphinx_sitemap==2.7.1
sphinxcontrib-mermaid==1.0.0
sphinxcontrib.katex==0.9.10
pypandoc==1.15
pandocfilters==1.5.1
markdown==3.8.2

# PyTorch Theme
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git@c2e38b37f3c432c610639f06d1d421c6df4c225c#egg=pytorch_sphinx_theme2

# Tutorial dependencies
tqdm==4.66.1
numpy==1.24.4
matplotlib
librosa
torch==2.8
torchvision
torchdata
networkx
PyHamcrest
bs4
awscliv2==2.1.1
flask
spacy==3.4.1
ray[tune]==2.7.2
tensorboard
jinja2==3.1.3
pytorch-lightning
torchx
torchrl==0.9.2
tensordict==0.9.1
# For ax_multiobjective_nas_tutorial.py
ax-platform>=0.4.0,<0.5.0
nbformat>=5.9.2
datasets
transformers
onnx
onnxscript>=0.2.2
onnxruntime
evaluate
accelerate>=0.20.1

importlib-metadata==6.8.0

ipython

sphinxcontrib.katex
# to run examples
boto3
pandas
requests
scikit-image
scipy==1.11.1
numba==0.57.1
pillow==10.2.0
wget
gym==0.26.2
gym-super-mario-bros==7.4.0
pyopengl
gymnasium[mujoco]==0.27.0
timm
pygame==2.6.0
pycocotools
semilearn==0.3.2
torchao==0.10.0
segment_anything==1.0
torchrec==1.2.0; platform_system == "Linux"
fbgemm-gpu==1.2.0; platform_system == "Linux"
