name: Build tutorials (nightly/test)
# This is a workflow to build tutorials using nightly or the test/release
# candidate builds for pytorch libraries. It downloads torch and other torch
# related libraries from the nightly or test channel and checks that the
# tutorials can run. This workflow will not upload the built docs anywhere in
# order to prevent polluting the official documentation.

# During releases, this workflow should be run on PRs to verify that the
# tutorials work with the test/rc builds before the official release is made.
# When there is no release candidate, this workflow should only be run on the
# main branch since nightly can be unstable and we do not want to block PRs due
# to failures in this workflow.

# To change the channel between nightly and test/rc, change the index used to
# download the binaries in .jenkins/build.sh.
on:
  # Only main branch for now. Uncomment the below line to enable it on PRs.
  # pull_request:

  # Comment out the below line to disable on the main branch
  # push:
  #  branches:
  #    - main
  workflow_dispatch: 

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}-${{ github.event_name == 'schedule' }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/_build-tutorials-base.yml
    secrets: inherit
    with:
      USE_NIGHTLY: 1
      UPLOAD: 1
      S3_PREFIX: pytorch/tutorials-nightly-preview
