name: Assign User on Comment

on:
  issue_comment:
    types: [created]

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install @octokit/core
        run: |
          npm i @octokit/core @octokit/rest
      - name: Check for "/assigntome" in comment
        uses: actions/github-script@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_DOCATHON }}
        with:
          script: |
            const issueComment = context.payload.comment.body;
            const assignRegex = /\/assigntome/i;
            if (assignRegex.test(issueComment)) {
              const assignee = context.payload.comment.user.login;
              const issueNumber = context.payload.issue.number;
              const { Octokit } = require("@octokit/rest");
              const octokit = new Octokit({
                auth: process.env.GITHUB_TOKEN,
              });
              octokit.issues.addAssignees({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: issueNumber,
                assignees: [assignee]
              });
            }
